body {font-family: 'Open Sans Condensed', sans-serif;
font-family: 'News Cycle', sans-serif;
  font-weight: 200;
text-align: left;
}

header {
  padding: 20px 0;
}
header. row
footer.row {
  display: flex;
  align-items: center;
}

#container {

}
#contact {

}

#contact-info {
  
}

#resume-body {
  
}

#resume-summary {
  
}

#resume-eductaion {
  
}

#education-header {
  
}

#degree {
  
}

#block-date {

}

#date {
  
}

#school-location {
  
}

#resume-professional {
  
}

#professional-header {
  
}

#content-MAC {
  
}

#list-content {
  
}

#content-bridge {
  
}
