body {
	font: 20px 'Open Sans Condensed', Sans-Serif;
  font-weight: 200px;
  background: url(wave.png);
}
#pic {
  float: right;
  padding-right: 40px;
	boarder radius: 25px;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container {
  width: 800px;
  margin: 40px auto 60px;
}

#contact {
margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2px;
}

.p {
	margin: 0 0 16px 0;
  	padding: 0 0 16px 0;
	font-size: 20px;
}
#resume-summary {
  	margin: 0 0 16px 0;
	padding: 0 0 32px 0;
	font-style: italic;
	font-size: 20px;
	boarder-bottom: 1px solid #999;
}

.date {
  	float: right;
}

#header {
	font-size: 30px;
	font-weight: bold;
}

#degree {
	font-size: 30px;
	font-weight: italic;
	margin: 0 0 16px 0;
  	padding: 0 0 16px 0;
}

#content {
	align: left;
	margin: 0 0 16px 0;
  	padding: 0 0 16px 0;
}

#list-content {
	font-size: 20px;
	margin: 0 0 16px 0;
  	padding: 0 0 16px 0;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}
