body {
	font: 20px 'Open Sans Condensed', Sans-Serif;
  	font-weight: 200px;
  	background: url(pink.jpg);
}

#pic {
  	float: right;
	border-radius: 12px;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container {
  	width: 800px;
  	margin: 40px auto 60px;
}

#contact {
	margin: 0 0 16px 0;
  	padding: 0 0 8px 0;
  	font-size: 42px;
  	font-style: bold;
  	letter-spacing: -2px;
	text-align: center;
}

.p {
	margin: 0 0 16px 0;
  	padding: 0 0 8px 0;
	font-size: 20px;
	text-align: center;
}

#resume-summary {
  	margin: 0 0 16px 0;
	padding: 0 0 8px 0;
	font-style: italic;
	font-size: 20px;
}

.date {
  	float: right;
	font-size: 20px;
	font-style: bold;
}

#header {
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid #999;
	margin: 0 0 16px 0;
  	padding: 20px 0 8px 0;
}

#degree {
	font-size: 25px;
	font-style: italic;
	margin: 0 0 4px 0;
  	padding: 16px 0 8px 0;
}

#content {
	align: left;
	margin: 0 0 16px 0;
  	padding: 0 0 8px 0;
}

#list-content {
	font-size: 20px;
	margin: 0 0 16px 0;
  	padding: 0 0 8px 0;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 25px;
  	margin-top: 0px;
  	margin-bottom: 0px;
}
